@import 'tailwindcss';

body {
  margin: 0;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-header-drag {
  -webkit-app-region: drag;
}

.app-header-no-drag {
  -webkit-app-region: no-drag;
}
